.mainDisplay {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDisplayLogo img {
  width: 60%;
}

.btDenuncie {
  background: #1e983b;
  width: 50%;
  height: 60px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btDenuncie span {
  color: white;
  font-size: 17.3px;
  font-weight: bold;
  text-transform: uppercase;
}

.imgTorcida {
  width: 100%;
}
