.denuncia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.denuncia legend {
  color: #bf2033;
  font-weight: bolder;
  font-size: 30px;
  width: 80%;
  text-transform: uppercase;
  font-family: "Raleway";
}

.denuncia h4 {
  color: #282828;
  font-weight: 500;
  font-size: 18px;
  width: 65%;
  font-family: "Raleway";
}

.estadioSelect {
  align-self: center;
}

.torcidaCinza {
  margin-top: 30px;
  width: 100%;
}
